
#after_submit, #email_validation, #name_validation {
    display:none;
}

#after_submit{
    background-color: #c0ffc0;
    line-height: 31px;
    margin-bottom: 10px;
    padding-left: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

span.required-text {
    font-size: .8em;
    color: red;
    font-style: italic;
    display: none;
}

label, #after_submit{
    color: #6c6c6c;
}

input{
    line-height: 31px;
}

input, textarea{
    width: 288px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(255,255,255,.6);
    border: solid 1px #b6c7cb;
}

#contact_form{
    height: 317px;
    background-color: #e1e9eb;
    border: solid 1px #e5e5e5;
    padding: 10px 20px 50px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#submit_button{
    width: 109px;
    height: 34px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #86c5fa;
    -webkit-box-shadow: inset 0 2px rgba(255,255,255,.29);
    -moz-box-shadow: inset 0 2px rgba(255,255,255,.29);
    box-shadow: inset 0 2px rgba(255,255,255,.29);
    border: solid 1px #77a4cb;
    font-weight: bold;
    color: #fff;
    margin-left: 7px;
}

label.required:after {
    content:'*';
    color:red;
}

.error {
    background-color:#FFDFDF;
    color:red;
}
.error_message{
    font-style: italic;
    font-size: 10px;
}
.row {
    margin:5px;
}