.container-left {
    float: left;
    width: 20%;
    padding-right: 7.5px;
}

.container-right {
    float: right;
    width: 80%;
    padding-left: 7.5px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}