.form-check.form-check-inline {
    display: inline;
}

#recurrence-form {
    display: none;
}


[id$='-recurrence-form'] {
    display:none;
}

span.required-text {
    font-size: .8em;
    color: red;
    font-style: italic;
    display:none;
}

#recurrence-length-form {
    margin-top: 20px;
}

ul#contact-select {
    list-style-type: none;
    padding: 4px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#contact-select li {
    padding: 5px;
}

#contact-control {
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    border-radius:4px;
    padding: 8px;
}

.ui-selected {
    color: #fff;
    background-color: #3097D1;
    border: 1px solid white;
    border-radius: 4px;
}

input#contact-filter {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: inherit;
    border-bottom: 2px solid #ccd0d2;
    margin-bottom: 10px;
}

#attendance-list-header {
    border-bottom: 2px solid #ccd0d2;
    font-size:1.1em;
    font-weight:bold;
    padding: 5px;
}

ul#existing-attendances {
    list-style-type: none;
    padding:5px;
}


.attendance-form {
    display: none;
    padding-bottom:6px;
}

.current-attendee .contact-list-item-name a,
.contact-list-item-name a:hover,
.new-attendee .contact-list-item-name a,
.new-attendee .contact-list-item-name a:hover,
.delete-attendance-link, .delete-attendance-link:hover {
    color:white;
    text-decoration: none;
}

.new-attendee .delete-attendance-link {
    display:none;
}
.available-attendee .contact-list-item-name a:hover {
    color: #3097D1;
}
.attendee-token-override {
    display: none;
}

#informational-text {
    color: #2ca02c;
    display: none;
    padding-top: 16px;
}

#informational-text p {
    width: 60%;
}