

/* Force these elements to display inline */
.form-check.form-check-inline {
    display: inline;
}

.recurrence-options, .global-recurrence-options {
    display: none;
}
/* styles for required field alert text */
.required-text {
    font-size: .8em;
    color: red;
    font-style: italic;
    display:none;
}

.col-no-padding {
    padding-left:0;
    padding-right: 0;
}

/* contact select should have a fixed height depending on
   the device. It should scroll if contents exceeds the height.
   get rid of the default margins for lists imposed by the browser.
 */
ul#contact-select {

    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

@media (min-width: 768px) {
    ul#contact-select {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        list-style-type: none;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0;
    }
}

@media (min-width: 992px) {
    ul#contact-select {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        list-style-type: none;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0;
    }
}

@media (min-width: 1200px) {
    ul#contact-select {
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        list-style-type: none;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0;
    }
}

/*
Add a little bit of padding to list items
 */
.contact-list-item {
    padding: 5px;
}

/* style the contact box */
#contact-control {
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    border-radius:4px;
    padding: 8px;
}

/* alternate color for selected contacts */
.ui-selected {
    color: #fff;
    background-color: #3097D1;
    border: 1px solid white;
    border-radius: 4px;
}

input#contact-filter {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: inherit;
    border-bottom: 2px solid #ccd0d2;
    margin-bottom: 10px;
}

#attendance-list-header {
    border-bottom: 2px solid #ccd0d2;
    font-size:1.1em;
    font-weight:bold;
    padding: 5px;
}

.attendance-form {
    display: none;
    padding-bottom:6px;
}

/* white text for elements on a dark background */
.current-attendee .contact-list-item-name a,
.contact-list-item-name a:hover,
.new-attendee .contact-list-item-name a,
.new-attendee .contact-list-item-name a:hover,
.delete-attendance-link, .delete-attendance-link:hover {
    color:white;
    text-decoration: none;
}

/* Hide this by default */
.new-attendee .delete-attendance-link {
    display:none;
}

.available-attendee .contact-list-item-name a:hover {
    color: #3097D1;
}

/* Not used for now */
.attendee-token-override {
    display: none;
}

#informational-text {
    color: #2ca02c;
    display: none;
    padding-top: 16px;
}

#button-row {
    padding: 3% 0 0 15px;
}

.ui-timepicker-wrapper {
    width: 250px;
}

.ui-selected a.contact-to-title-link, .ui-selected a.contact-profile-link {
    color: white;
}